{% extends "base.html" %} 
{% block content %} 

{% for doc in docs %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-name">
            <p>{{ doc.name }}</p>
        </div>
    </div>
    <div class="panel-body panel-content">
        <div class="panel-content">
            <p>{{ doc.content }}</p>
        </div>
    </div>
    <div class="panel-footer panel-localtime">
        <div class="panel-localtime">
            <p>{{ doc.localtime }}</p>
        </div>
    </div>
</div>
{% endfor %}

<div class="form-pager">
    <ul class="pager">
        {% if data.pageId == 1 or data.pageId == 0 %}
        <li class="previous disabled">
            <a>Newer &larr; </a>
        </li>
        {% else %}
        <li class="previous">
            <a href="{{ url_for('index', page_id=(data.pageId - 1)) }}">Newer &larr; </a>
        </li>
        {% endif %} {% if data.pageId >= data.pages or data.pageId == 0 %}
        <li class="next disabled">
            <a>Older &rarr; </a>
        </li>
        {% else %}
        <li class="next">
            <a href="{{ url_for('index', page_id=(data.pageId + 1)) }}">Older &rarr; </a>
        </li>
        {% endif %}
    </ul>
</div>

{% endblock %}